{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block title %}{% trans "Log In" %}{% endblock %}

{% block content %}

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
  <div class="mt-20">
    <div class="flex justify-center">
        <h2 class="flex justify-center w-1/4 text-4xl mb-2 font-semibold font-heading font-semibold py-3 rounded-lg bg-red-100" style="border: 1px solid black; width:500px;">Sign In</h2>
    </div>
    <br/>
    <div class="flex justify-center" >    
        <div class="rounded-lg w-96 h-96 p-12 bg-red-100 shadow-xl" style="border: 1px solid black">
            {% comment %} <a title="Google" class="text-2xl  text-black socialaccount_provider google" href="/google/login/?process=login">Login with Google</a>
            <div class="my-2">
              or
            </div> {% endcomment %}
            <form class="login " method="POST" action="{% url 'account_login' %}" >
                {% csrf_token %}
                <p>
                    <label class="text-2xl" for="id_login">E-mail:</label>
                    <input class="form-control"  type="email" name="login" placeholder="E-mail address" autocomplete="email" required="" id="id_login">
                </p>
                <p>
                    <label class="text-2xl" for="id_password">Password:</label>
                    <input class="form-control" type="password" name="password" placeholder="Password" autocomplete="current-password" required="" id="id_password">
                </p>
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="primaryAction btn btn-lg btn-success form-control" style="padding: 2px;" type="submit">Sign In</button>
            </form>
        </div>
    </div>    
  </div> 
{% endif %}  
{% endblock %}