{% extends 'nav.html' %}

{% block title %}Add contact{% endblock %}

{% block content %}
<div class="mt-4 flex justify-center ">
    <a class="no-underline text-3xl font-extrabold text-red-900 border-2 border-red-600 p-2 rounded-lg bg-pink-200" href="{% url 'add_contact' %}">Add Contact</a>
</div>

<div class="flex justify-center ">
    <div class="p-2 font-bold bg-red-100 m-10 border-2 border-solid border-black rounded-lg w-max ">        
        <form method = "POST" action ="" class="success">
            {% csrf_token %}
            
            <p >
                <label class="text-xl" for="id_first_name">First name:</label>
                <input class="w-full px-10 py-1 text-center rounded-lg text-xl font-medium border-2 border-solid border-gray-400 fn-add" type="text" name="first_name" maxlength="30" required id="id_first_name" value="{{ form.first_name.value|default_if_none:''}}">
            </p>
            <p class="flex flex-col my-4">
                <label class="text-xl" for="id_last_name">Last name:</label>
                <input class="w-full px-10 py-1 text-center rounded-lg text-xl font-medium border-2 border-solid border-gray-400 ln-add" type="text" name="last_name" maxlength="30" required id="id_last_name" value="{{ form.last_name.value|default_if_none:''}}">
            </p>
            <p class="flex flex-col my-4">
                <label class="text-xl" for="id_email">Email:</label>
                <input class="w-full px-10 py-1 text-center rounded-lg text-xl font-medium border-2 border-solid border-gray-400 email-add" type="email" name="email" maxlength="100" required id="id_email" value="{{ form.email.value|default_if_none:''}}">
            </p>
            <p class="flex flex-col my-4">
                <label class="text-xl" for="id_phoneNumber">Phone Number:</label>
                <input class="w-full px-10 py-1 text-center rounded-lg text-xl font-medium border-2 border-solid border-gray-400 pn-add" type="text" name="phoneNumber" maxlength="10" required id="id_phoneNumber" value="{{ form.phoneNumber.value|default_if_none:''}}">
            </p>  

            <p class="flex justify-center">
                <button class="font-bold border-2 border-solid border-gray-400 rounded-lg p-2 text-2xl bg-yellow-400 js-submit" type="submit" data-url="{% url 'contactBook_list' %}">Submit</button>
            </p> 
        </form>
    </div>
</div>
{% endblock  %}