body {
    background-color: azure;
    width: 100%;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    z-index: 0;
    overflow: auto;
    box-sizing: border-box;
}

body::before {
    box-sizing: border-box;
    display: inline;
    position: absolute;
    content:' ';
    width: 100%;
    height: 100%;
    opacity: 0.2;
    z-index: -1;
    background-image: url(../Imagini/pitch.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.js-span {
    font-size: 10px;
}

.h2-js {
    border-bottom: 1px solid black;
}